
#deimos-summary-container {
  display: inline-block;
  text-align: center;
  float: left;
  width: 70%;
  margin-top: 50px;
  margin-left: 3%;
}
#deimos-summary-container1, #deimos-summary-container2, #deimos-summary-container3, #deimos-summary-container4 {
  display: inline-block;
  text-align: center;
  float: left;
  width: 45%;
}

#deimos-settings-container, #deimos-keyword-container {
  display: inline-block;
  text-align: center;
  float: left;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
}
#deimos-settings-1, #deimos-settings-2, #deimos-settings-3 {
  display: inline-block;
  text-align: center;
  float: left;
  width: 31%;
}
#deimos-keyword-container1, #deimos-keyword-container2, #deimos-keyword-container3, #deimos-keyword-container4 {
  display: inline-block;
  text-align: center;
  float: left;
  width: 23%;
}
#deimos-graph-container1 {
    width: 75%;
    min-width: 600px;
}
#deimos-stop-button > div > button, #new-batch > div > button {
    margin-right: 0px !important;
    width: 100% !important;
}
#new-batch > div > button {
    background-color: blue;
}
