body {
  background-color: white;
}

#page-content {
  position:absolute;
    top:0;
    left:0;
    width: 100% !important;
    height: 150% !important;
    z-index: 100 !important;
}
.page-content-class > div {
    margin: 15px;
}

.indicator-box {
    vertical-align: top;
    display: inline-block;
    font-family: sans-serif;
    color: #303030;
    padding: 0px;
    margin: 10px;
    width: 260px;
    border-radius: 10px;
    border: solid 1px #dddddd;
    float: left;
}

.indicator-box h4 {
    text-align: center;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 20px;
    font-weight: 200;
    border-radius: 10px 10px 0px 0px;
}

.indicator-box-dark {
    vertical-align: top;
    display: inline-block;
    font-family: sans-serif;
    color: #FFFFFF !important;
    padding: 0px;
    margin: 10px;
    width: 260px;
    border-radius: 10px;
    border: solid 1px #585656;
}

.indicator-box-dark h4 {
    text-align: center;
    background-color: #303030 !important;
    margin: 0px;
    padding: 20px;
    font-weight: 200;
    border: solid 1px #585656;
    border-radius: 10px 10px 0px 0px;
}

.indicator-box > div {
    margin: 10px;
}

.indicator-box-dark > div {
    margin: 10px;
}

#legend-container, #legend-container1, #legend-container2 {
    display: inline-block;
    width: calc(25% - 50px);
    min-width: 140px;
    padding: 0px;
    margin: 0px;
    border: none;
}
#cycle-time, #time-to-completion {
    margin-bottom: -25px;
}
#graph-container, #graph-container1 {
    width: 75%;
    min-width: 600px;
}
#stop-button > div > button, #new-batch > div > button {
    margin-right: 0px !important;
    width: 100% !important;
}
#new-batch > div > button {
    background-color: blue;
}
.app-content {
    text-align: center;
}
#batch-started {
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}
.kKWoYf {
    color: #303030 !important;
}
#manufacturing-temp {
    padding-bottom: 20px;
}
#pgpress-container, #thePressure-container {
  display: inline-block;
  text-align: center;
  float: left;
  width: 47%;
}
#thePressure-status, #thePressure-status1, #pgpress-status, #pgpress-status1 {
  float: left;
  width: 45%;
}
#pwstata-status, #pwstatb-status, #pwstatc-status {
  display: inline-block;
  text-align: center;
  float: left;
  width: 30%;
}
#lmp0stat-status, #lmp1stat-status, #lmp2stat-status, #lmp3stat-status {
  display: inline-block;
  text-align: center;
  float: left;
  width: 22%;
}
#tmp1-container, #tmp7-container, #tmp8-container {
  display: inline-block;
  text-align: center;
  float: left;
  width: 24%;
}
#settings-container1, #settings-container2, #settings-container3 {
  display: inline-block;
  text-align: center;
  float: left;
  width: 32%;
}
#temperature-servers, #power-servers, #pressure-servers, #detector-servers, #mechanism-servers, #global-servers {
  display: inline-block;
  text-align: center;
  float: left;
  width: 14.5%;
}
.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #FFFFFF;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.custom-tab-dark {
    color:lightgrey !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 1px solid #585656 !important;
    border-right: 1px solid #585656 !important;
    border-bottom: 1px solid #585656 !important;
    background-color: #303030 !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.custom-tab--selected-dark {
    color: white !important;
    background-color: black !important;
    box-shadow: 1px 1px 0px black;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 3px solid #e36209 !important;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.dropdown-theme-dark .Select-control {
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  background-color: #222;
  background-clip: padding-box;
  border: 1px solid #444;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .dropdown-theme-dark .Select-control {
    transition: none;
  }
}

.dropdown-theme-dark .Select-control:hover {
  box-shadow: none;
}

.dropdown-theme-dark .is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-theme-dark .is-focused:not(.is-open) > .Select-control {
  border-color: #aaa;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.25);
}

.dropdown-theme-dark .Select.is-disabled > .Select-control {
  background-color: #ebebeb;
}

.dropdown-theme-dark .Select--multi .Select-value {
  border-radius: 0.125rem;
  color: #eee;
  border-color: rgba(200, 200, 200, 0.25);
  background-color: rgba(55, 55, 55, 0.1);
}

.dropdown-theme-dark .Select--multi .Select-value-icon:hover {
    background-color: #333;
    color: #fff;
}

.dropdown-theme-dark .Select--multi .Select-value-icon {
  border-right-color: rgba(55, 55, 55, 0.25);
}

.dropdown-theme-dark .has-value.Select--single > .Select-control .Select-value .Select-value-label,
.dropdown-theme-dark .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #444;
}

.dropdown-theme-dark .Select-multi-value-wrapper {
  height: calc(1.5em + 0.75rem);
}

.dropdown-theme-dark .Select-placeholder {
  color: #999;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.dropdown-theme-dark .Select--single > .Select-control .Select-value,
.dropdown-theme-dark .Select-placeholder {
  line-height: calc(1.5em + 0.75rem);
}

.dropdown-theme-dark .Select-input {
  height: calc(1.5em + 0.75rem);
}

.dropdown-theme-dark .Select-menu-outer {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #222;
  background-clip: padding-box;
  border: 1px solid #444;
  border-top-color: transparent;
  box-shadow: none;
  color: #fff;
}

.dropdown-theme-dark .VirtualizedSelectOption {
  height: calc(1.5em + 0.75rem) !important;
}

.dropdown-theme-dark .VirtualizedSelectFocusedOption {
  background-color: rgba(55, 90, 127, 0.1) !important;
}

.dropdown-theme {

}
